<!doctype html>

<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> {% block head %}
    <title>BASE</title>
    {% endblock %}

</head>

<body style="background: url('../../media/best_foot.png');">
    <h1 class="jumbotron-fluid siteTitle" style="padding: 1.5rem 1rem; margin-bottom: 0rem;">Kids Athlete Club</h1>

    <div class='container-fluid' style="margin-top:0.25rem;">
        <div class="row align-items-center" style="height:25vh;">
            <div class=" col ">
                <a href="../admin/ " class="btn btn-sm btn-primary " role="button ">Admin</a>
            </div>
            <!-- column one -->
            <div class="col ">
                <button type="button " class="btn btn-sm btn-primary ">
                        Goto two
                    </button>
            </div>
            <!-- column two -->
            <div class="col ">
                <button type="button " class="btn btn-sm btn-primary ">
                        Goto three
                    </button>
            </div>
            <!-- column three -->
            <div class="col ">
                <button type="button " class="btn btn-sm btn-primary ">
                        Goto four
                    </button>
            </div>
            <!-- column four -->
            <div class="col ">
                <div class="btn-group dropdown dropdown-menu-left ">
                    <button type="button " class="btn btn-primary btn-sm dropdown-toggle " data-toggle="dropdown ">
                        My Profile <span class="caret "> </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right " role="menu " aria-labelledby="dropdownMenu1 ">
                        {% if user.is_authenticated %}
                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'accounts:view_profile' %} ">View Profile</a>
                        </li>

                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'accounts:edit_profile' %} ">Edit Profile</a>
                        </li>

                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'accounts:change_password' %} ">Change Password</a>
                        </li>

                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'password_reset' %} ">Reset Password</a>
                        </li>

                        <li role="presentation " class="divider "></li>

                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'accounts:logout' %} ">Logout</a>
                        </li>
                        {% else %}
                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'accounts:login' %} ">Login</a>
                        </li>
                        <li role="presentation ">
                            <a role="menuitem " tabindex="-1 " href="{% url 'accounts:register' %} ">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- dropdown menu button -->
            </div>
            <!-- last column -->
        </div>
        <!-- one row -->
    </div>
    <!-- overall container -->

    <hr class="my-2 ">
    <div class='container-fluid'>
        {% block body %}
        <h1>BASE</h1>
        {% endblock %}
    </div>

    {% comment %} https://hackerthemes.com/bootstrap-cheatsheet/ {% endcomment %}

</body>

</html>