@font-face {
    font-family: 'collegiateHeavyOutline';
    src: url('collegiateHeavyOutlineMedium.ttf');
}

.siteTitle {
    font-family: 'collegiateHeavyOutline';
    font-size: 6em;
    color: #1428a0;
    background-color: #ffd400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.btn-danger {
    color: red;
    border: 2px solid red;
    background: rgba(0, 0, 0, 0.5);
}

a.btn-info {
    color: black;
    box-shadow: 0px 0px 0px #ffffff;
    text-shadow: 0px 0px 0px #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}

a.btn-info:hover, a.btn-info:active, a.btn-info:focus, a.btn-info:target {
    color: #1428a0;
    font-weight: bold;
    background-color: #ffd400;
    box-shadow: 0px 0px 0px #ffffff;
    text-shadow: 0px 0px 0px #ffffff;
    border-color: #ffffff;
}

.show > a.btn-info.dropdown-toggle {
    color: #1428a0;
    font-weight: bold;
    background-color: #ffd400;
    border-color: #ffd400;
}

.dropdown-menu li a {
    color: #1428a0;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    color: #1428a0;
    text-decoration: none;
    background-color: #ffd400;
}

.btn-primary {
color: #ffffff;
/* box-shadow: 3px 3px 0px rgba(4, 4, 4, 0.3); */
box-shadow: 3px 3px 0px #999999;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #1428a0;
border-color: black black black;
}

.btn-primary:hover {
    background-color: grey;
    border-color: black;
}
